body {
    background-color: black;
    font-family: Arial;
    color: white;
    }

h1 {
    font-family: Arial;
    border-bottom: 1px solid #AFAFAF;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: white;
    }

a:link, a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
    }

a:link:hover, a:visited:hover  {
    color: white;
    font-weight : bold;
    text-decoration : underline;
    }

.errorstyle {
    color: #D20005;
    display: block;
    }

.tasklist {
    width: 180px;
    }
