<server>

    <featureManager>
        <feature>microProfile-6.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*"
                  httpPort="${default.http.port}" httpsPort="${default.https.port}" />

    <webApplication location="jwtbridge-1.0.0.war" contextRoot="/"/>

    <mpJwt id="myMpJwt" clockSkew="99999h" />

</server>
